<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/iseghosime/IdeaProjects/Pantheonsite/src/test/java/testng/PantheonsiteDesktop.java">
        <classes>
            <class name="testng.PantheonsiteDesktop">
                <methods>
                    <include name="menuListTest" />
                    <include name="menuLogoTest" />
                    <include name="menuCTATest" />
                    <include name="menuCTAColorTest" />
                    <include name="headerColorTest" />
                    <include name="contactUsCTATest" />
                    <include name="logoReloadTest" />
                    <include name="companyMenuTest" />
                    <include name="careerMenuTest" />
                    <include name="experienceMenuTest" />
                    <include name="subMenuListTest" />
                    <include name="TwitterLinkTest" />
                    <include name="LinkedinLinkTest" />
                    <include name="InstagramLinkTest" />
                </methods>
            </class>
        </classes>
    </test>
</suite>